.DS_Store
**/*/.DS_Store
.metadata
.metadata/
.metadata/**/*
.recommenders
.recommenders/**/*
build/**/*
*build/*
extlib/**/*
dist/**/*
published/**/*
docs/**/*
kernel/**/build/*
modules/**/build/*
modules/**/src_lib/*
internal/**/*
