.DS_Store
**/*/.DS_Store
.metadata
.metadata/
.metadata/**/*
build/**/*
*build/*
extlib/**/*
dist/**/*
internal/**/*
internal/*
published/**/*
docs/**/*
kernel/**/build/*
modules/**/build/*
modules/**/src_lib/*